<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/streetStyle.css">

</head>



<body>
    <!--<a href="/street?store={{store}}">Please s</a>-->
    {{#if zoom}}
        <a href="/street?store={{store}}">
            <img id="backButton" style="height:60px; margin-top: 20px; margin-left: 20px;" src="/images/buttons/backButton.png"/>
        </a>
    {{/if}}

    {{{ body }}}
    <script>
        function setDrag() {
            dragging = true;
            // define setDrag before loading HTML
        }

        let store = {{store}};
        let scrollPosition = 0;

        switch(store) {
            case 1:
                scrollPosition = 0;
                break;
            case 2:
                scrollPosition = 892;
                break;
            case 3:
                scrollPosition = 1977;
                break;
            case 4:
                scrollPosition = 3060;
                break;
            case 5:
                scrollPosition = 6705;
                break;
            case 6:
                scrollPosition = 7557;
                break;
            case 7:
                scrollPosition = 8517;
                break;
            case 8:
                scrollPosition = 9586;
                break;
            case 9:
                scrollPosition = 12193;
                break;
            case 10:
                scrollPosition = 13139;
                break;
            case 11:
                scrollPosition = 13954;
                break;
            case 12:
                scrollPosition = 14890;
                break;
            case 13:
                scrollPosition = 15228;
                break;
            case 14:
                scrollPosition = 16636;
                break;
            case 15:
                scrollPosition = 18573;
                break;
            case 16:
                scrollPosition = 19267;
                break;
            case 17:
                scrollPosition = 19789;     
                break;
            case 18:
                scrollPosition = 20828;
                break;
            case 19:
                scrollPosition = 22100;
                break;
            case 20:
                scrollPosition = 23200;
                break;
            case 21:
                scrollPosition = 24050;
                break;
            case 22:
                scrollPosition = 24950;
                break;
            case 23:
                scrollPosition = 26350;
                break;
            case 24:
                scrollPosition = 27350;
                break;
            case 25:
                scrollPosition = 28200;
                break;
            case 26:
                scrollPosition = 29093;
                break;
            case 27:
                scrollPosition = 30477;
                break;
            case 28:
                scrollPosition = 31671;
                break;
            case 29:
                scrollPosition = 32830;
                break;
            case 30:
                scrollPosition = 33334;
                break;
            case 31:
                scrollPosition = 33334;
                break;
            case 32:
                scrollPosition = 34560;
                break;
            case 33:
                scrollPosition = 35750;
                break;
            case 34:
                break;
            case 35:
                break;
        }


        if (store > 0) {
            document.getElementById('mainContainer').scrollTo({
                    top: 0,
                    left: scrollPosition
            });
        }
    </script>
    <script src="/js/dragscroll.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/street.js"></script>
</body>



</html>